:host {
    z-index: 1;
    margin-bottom: 0px;
    width: 200px;
    border: 1px solid black;
    height: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
}
